# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [3]:
# clean the item_price column and transform it in a float
# print(value for value in chipo.item_price)    是一个生成器：<generator object <genexpr> at 0x0000020241384CA8>
# 这里如果运行第二次会出错，因为是一个生成器，已经到达尾部了！！！！
# value[1:-1] ： 从$2.39选取数字，因为：
# chipo.item_price = [float(value) for value in chipo.item_price]
# could not convert string to float: '$2.39 '
prices = [float(value[1 : -1]) for value in chipo.item_price]
# for temp in prices:
#     print(temp)

# reassign the column with the cleaned prices
chipo.item_price = prices

# delete the duplicates in item_name and quantity,同时重复的
chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [4]:
# delete the duplicates in item_name and quantity
# chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)].head(5)

# select only the products with quantity equals to 1
# chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
# price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
# price_per_item.sort_values(by = "item_price", ascending = False).head(20)

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25

### Step 6. Sort by the name of the item

In [5]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by = "item_name").head(5)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [6]:
# chipo.item_price.sort_values(ascending=False).head(1)
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [7]:
# chipo[chipo['item_name'] == 'Veggie Salad Bowl'].quantity.sum()

chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]
# chipo_salad
len(chipo_salad)

18

### Step 9. How many times people orderd more than one Canned Soda?

In [28]:
# chipo_drink_steak_bowl = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo.quantity > 1)]

# 这里是求多少次，不是求多少数量
# chipo_drink_steak_bowl.quantity.sum()

chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20